@import 'tailwindcss';

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  html {
    font-family: var(--font-display);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
